/* This will affect the entire body of the page */

body{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
}

/* This will affect the header section of the page */

header{
    background: #333
}

/* This will affect tall h1's on the page */

h1{
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: center;
}

/* This will affect all h2's omn the page */

h2{
    font-size: 24px;
}

/* This will apply to all the a's on the page */

a{
    color: #d21034;
}

/* Adding style to a class */

.page{
   width: 1024px;
   margin: 0 auto; 
}

