/* This will affect the entire body of the page */

body{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
}

/* This will affect the header section of the page */

header{
    background: #333
}

/* This will affect tall h1's on the page */

h1{
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: center;
}

/* This will affect all h2's omn the page */


